@font-face {
  font-family: 'Universalis';
  src: url('./fonts/Universalis.woff2') format('woff2'),
       url('./fonts/Universalis.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Microsoft';
  src: url('./fonts/MicrosoftSansSerif.woff') format('woff2'),
       url('./fonts/MicrosoftSansSerif.woff2') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}



/* Ensure the container doesn't create extra scrollbars */
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}



/* Remove any conflicting overflow properties */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-container {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

/* Score Component Styles */
.score-container {
  border-radius: 20px;
  padding: 0px 20px;
  z-index: 1000;
  font-family: 'Universalis', sans-serif;
}

.score-display {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.score-value {
  color: #fdee1a;
  font-size: 2.2rem;
  font-weight: bold;
}


/* Mobile adjustments */
@media (max-width: 768px) {
  .score-container {
    top: 10px;
    left: 10px;
    right: 10px;
    padding: 10px 15px;
  }
  
  .score-label {
    font-size: 0.9rem;
  }
  
  .score-value {
    font-size: 1.4rem;
  }
}