/* index.css */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(107, 107, 107, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html.day-mode,
body.day-mode,
#root.day-mode,
.day-mode {
  background-image: url(background2.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

html.night-mode,
body.night-mode,
#root.night-mode,
.night-mode {
  background-image: url(background.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

html, body {
  height: 100vh;
  margin: 0;
  display: flex;
  place-items: center;
}


html {
  background-color: #1a1a1a; 
}